<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.intellimarket.store.dao.StoreInfoDAO">

	<select id="select" parameterType="int" resultType="StoreInfo">
		select * from
		store_info where seller_id = #{sellerId}
	</select>


	<!-- 전체 목록 조회 -->
	<select id="selectAll" resultType="StoreInfo">
		SELECT * FROM store_info
	</select>

	<select id="selectById" parameterType="int"
		resultType="StoreInfo">
		SELECT * FROM store_info WHERE store_info_id = #{storeInfoId}
	</select>

	<insert id="insert" parameterType="StoreInfo">
		INSERT INTO
		store_info(store_name, store_tel, logo_path, seller_id,
		store_introduce)
		values (#{storeName}, #{storeTel}, #{logoPath}, #{seller.sellerId},
		#{storeIntroduce})
	</insert>

	<update id="update" parameterType="StoreInfo">
		UPDATE store_info SET
		store_name = #{storeName},
		store_tel = #{storeTel},
		logo_path =
		#{logoPath},
		store_introduce = #{storeIntroduce}
		Where seller_id =
		#{seller.sellerId}
	</update>

	<!-- 변경 -->
	<update id="updateLogo" parameterType="StoreInfo">
		update store_info
		set logo_path = #{logoPath}
		where seller_id = #{seller.sellerId}
	</update>

</mapper>