<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.intellimarket.shop.dao.MemberDAO">
	<insert id="insert" parameterType="member">
		insert into Member(email, password, name, birth, gender, phone, address)
		values (
			#{email}, #{password}, #{name}, #{birth}, #{gender}, #{phone}, #{address}
		)
	</insert>
</mapper>